body{
	font-family: 'Ubuntu', sans-serif;
}
.underline {
	text-decoration: none;
	display: inline-block;
}

.underline:after {
	content: '';
	width: 0px;
	height: 3px;
	display: block;
	background: rgb(30,160,247);
	transition: 300ms;
}

.underline:hover:after {
	width: 100%;
}

.header{
	padding:1rem;
	background: rgb(30,160,247);
}

#header-image{
	-webkit-filter: drop-shadow(3px 3px 3px #222);
	filter: drop-shadow(3px 3px 3px #222);
	width:25%;
}

@media screen and (max-width: 750px) {
	#header-image{
		width:auto;
		height:10vw;
	}
}

.hero{
	width:100vw;
	height:75vh;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.centertext{
	color:white;

}

.scheme{
	background-color: rgb(30,160,247);
}

.thing{
	height:100vh;
	width:100vw;
	background-image: url("https://www.bigstockphoto.com/images/homepage/module-6.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.pad{
	padding:5vw;
}

.loginreg{
	padding:32px;
	background-image:url('https://upload.wikimedia.org/wikipedia/commons/0/05/RoadEcologyConference2017-17.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color:white;
}