{% extends "layout.html" %}
{% block content%}
	<div class="hero w3-display-container">
		<div class="w3-display-middle centertext">
			<h1>Start Counting Your Hours Electronically</h1>
			<div class="w3-bar">
				<center>
					<button class="w3-button w3-black">Sign Up</button>
					<button class="w3-button scheme">Login</button>
				</center>
			</div>
		</div>
	</div>
	<div class="thing w3-display-container">
		<div class="w3-display-middle centertext pad scheme">
			<h2>Count Your Hours</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus quam, suscipit a laoreet quis, euismod quis purus. Nulla sodales erat suscipit, tincidunt urna sed, sollicitudin augue. Donec consequat urna sed semper tincidunt. Duis hendrerit enim ac augue laoreet fermentum. Nulla facilisi. Donec ac libero neque. Sed lobortis venenatis lorem congue gravida. Donec aliquam ut odio vel pretium. Nulla est ex, mollis vel feugiat non, pulvinar nec leo. Ut ac nulla ex. Proin consectetur iaculis sem, at viverra ante ultricies in. Suspendisse potenti. Proin lorem sapien, vestibulum at metus eu, sollicitudin tincidunt ipsum.</p>
		</div>
	</div>
{% endblock content %}